<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>NameForge - AI Powered Name Generator</title>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<script src="{{ url_for('static', filename='script.js') }}" defer></script>
</head>
<body>
<div class="bubble-container">
    <div class="header">
        <h1>NameForge</h1>
        <p>Generate company, startup, or brand names using AI</p>
    </div>
    <div class="form-container">
        <form id="nameForm">
            <div class="input-group">
                <i class="fas fa-key"></i> <!-- Icon for keywords -->
                <input type="text" id="keywordInput" placeholder="Enter keywords" required>
            </div>
            <div class="input-group">
                <i class="fas fa-list-ol"></i> <!-- Icon for number of names -->
                <input type="number" id="numResults" min="1" max="10" placeholder="Number of names">
            </div>
            <button type="submit"><i class="fas fa-magic"></i> Generate Names</button>
        </form>
    </div>
</div>
<div class="results-container" id="resultsContainer" style="display: none;">
    <ul id="nameList"></ul>
</div>
</body>
<footer class="footer">
    <div class="container">
        <a href="https://www.linkedin.com/in/amine-maazizi-190266235/" target="_blank" aria-label="LinkedIn">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/amine-maazizi" target="_blank" aria-label="GitHub">
            <i class="fab fa-github"></i>
        </a>
        <a href="mailto:aminema1000@gmail.com" aria-label="Send email">
            <i class="fas fa-envelope"></i>
        </a>
    </div>
</footer>
</html>
